*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "acumin-pro","Acumin Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}

@mixin flexCenter {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
@mixin flexeven {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
    flex-direction: column;
}

@mixin gridColumn {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

$mobile: 150px;
 @mixin mobile {
     @media (min-width: #{$mobile}) {
         @content;
     }
 }

 $tablet: 769px;
 @mixin tablet {
     @media (min-width: #{$tablet}) {
         @content;
     }
 }
  

$primaryColor: #D35649;
$direction: column;
$between: space-between;
$colorWhite: #fff;
$formColor: #C5C2C2;
$border: 5px;
$border-3: 3px;
$font-weight: 900;
$textCenter: center;
$width-95: 95%;
$flexstart: flex-start;
$flex: flex;
$colorblack: #111;
$colorgray: #7d8486;
$font-weight-700: 700;
$padding: 5px;
$colordkgray: #1F1F1F;
$border-radius: 50%;
$colorbrown: #E17E65;
$alignCenter: center;

    header {
      .topnav {
        @include flexCenter();  
         max-width: 100%;  
         height: 80px;
         background-color: $primaryColor;
         flex-direction: $direction;
        }

        @include tablet {
            .topnav {
               flex-direction: row;
                 
                }

        }
      .echantill {
          @include flexCenter();
          min-width: 130px;
          color: $colorWhite;
          font-weight: 700;
      }

      @include tablet {
        .echantill {
            min-width: 200px;
           /* border: 1px solid #fff;*/
            justify-content: $flexstart;
        } 
        
        .echantill .fas {
           /* border: 1px solid purple;*/
            padding-right: 4px;
        }
      }
      
      .echantill-icons {
        @include flexCenter(); 
        min-width: 200px;
      }

      .echantill-icons a {
        color: $colorWhite;
      }
         
    }

    main {
         .echantill-edu-container {
            @include flexCenter();
         }
        
        .echantill-edu {
            /*border: 1px solid #fff;*/
            @include flexCenter(); 
            position: absolute;
            width: $width-95;
            height: 230px;
            top: 240px;
            flex-direction: $direction;
            border-radius: $border;
            text-shadow: 2px 2px 5px #111;
        }
        .echantill-text {
            font-weight: $font-weight;
            color: $colorWhite;
            text-align: $textCenter;
            width: $width-95;
        }

        .form-key {
            background-color: $formColor;
            min-width: 335px;
            /*border: 1px solid purple;*/
            height: 100px;
            @include flexeven();
            border-radius: $border;
            
        }

        .bg-img {
            width: 100%;
            height: 400px;
        }

        .form-input {
            width: 320px;
            height: 25px;
            background-color: $colorWhite;
            border: 1px solid $formColor;
            margin-left: 7px;
            border-radius: $border-3;
            
        }

        .primarycolor {
            background-color: $primaryColor;
            text-align: $textCenter;
            
            
        }
        ::placeholder {
            color: $colorWhite;
            opacity: 1;
        }

        .key-word {
            margin-left: 7px;
            font-family:  sans-serif Helvetica;
            font-size: 13px;
            text-shadow: none;
        }

        .how-it-works {
            /*border: 1px solid red;*/
            background-color: $formColor;
            width: 100px;
            text-shadow: none;
            padding: 5px 3px;
        }

        .four-steps-container h5 {
            height: 40px;
            text-align: $textCenter;
            margin-top: 20px;
            color: $primaryColor;
        }

        .four-steps {
            /*border: 1px solid red;*/
            height: 450px;
            font-size: 13px;  
        }

        @include tablet {
            .four-steps {
                /*border: 1px solid purple;*/
                @include gridColumn;
                height: 400px;
                padding: 20px;
                font-size: 13px;  
            }

            .four-steps-nested {
                /*border: 1px solid red;*/
                height: 1000px;
                min-width: 150px; 
                justify-content: $between; 
  
            }

            .apply-margin {
                margin-top: 20px;
                height: 40%;
                /*border: 1px solid #111;*/
                line-height: 18px;
            } 

            .locate-p {
                line-height: 18px;
                margin: 0 20px 0 20px;
            } 
            
        }

        .four-steps-nested {
            /*border: 1px solid purple;*/
            height: 110px;
            min-width: 150px;
            @include flexCenter();
            flex-direction: $direction;
            padding: 0 7px 0 5px;
            color: $colorgray;
            font-weight: $font-weight-700;
            
        }

        .four-steps-nested a {
            color: $colorblack;   
        }

        .locate-p {
            color: $colorblack;
            font-weight: $font-weight;
        } 
        
        .admitted-students img {
            width: 300px;
            border-radius: $border-radius;    
        }

        .admitted-students-container,
        .future,
        .istock {
           background-color: $colorbrown;
           color: $colorWhite;
           height: 380px;
           @include flexeven();
           align-items: $textCenter;
        }

        @include tablet {
            .future-nest-reset,
            .future-nest {
               @include flexeven();
               align-items: $alignCenter;
               /*border: 1px solid purple;*/
               width: 100%;
            }
        }

        .future-nest-reset {
            /*border: 1px solid red;*/
            min-width: 470px;   
        }

        @include mobile {
            .future-nest-reset {
                min-width: 100%;
                padding-left: 20px;
            }   

        }

        .registered {
            font-size: 12px;
            line-height: 15px;
            font-weight: $font-weight;
        }

        .find-a-course {
            font-size: 11px;
            font-weight: 400;
        }

        .course-with-padding {
            padding: $padding;
            background-color: $colorWhite;
            color: $colorbrown;
            width: 80px;
            font-size: 10px;
            font-weight: $font-weight;
            margin-top: 3px;
        }

        .future {
           background-color: #98A4A5;
           
        }

        .future-nest {
            /*border: 1px solid red;*/
            padding: 5px 5px 5px 20px;
            width: 100%;
            
        }

        .free-sign-up {
            color: #98A4A5;
        }

        .istock {
            background-color: #519BD7;
        }

        .platform {
            font-size: 11px;
        }
        
    }

    footer {
       min-width: 100%;
        ul {
            list-style-type: none;
        }

        .footer-top {
            position: relative;
            font-size: 5px;
            display: $flex;
            justify-content: $between;
            border-top: 0.1px solid rgb(143, 133, 133);
            border-bottom: 0.1px solid rgb(143, 133, 133);
            color: $colorWhite;
            width:  100%;
            padding: 5px 0;
            /*border: 1px solid purple;*/   
        }

        @include tablet {
            .footer-top {
                font-size: 10px;
            }
        }

        .footer-top-icon {
            color: $colorWhite;
            position: absolute;
            left: 47.5%;
            top: 13px;
            border: 1px solid rgb(143, 133, 133);
            border-radius: $border-radius;
            background-color: $colorblack;
            padding: 2px 1px 1px 1px;
            z-index: 5;  
        }

        @include tablet {
            .footer-top-icon { 
              left: 48.5%;
            }
        }   

        .footer-top-wrapper {
            position: relative;
            height: 80px;
            background-color: #000;
            padding: 0 20px;
            min-width: 100%;
            /*border: 1px solid red;*/
        }

        .footer-top-container {
            height: 50px;
            /*border: 1px solid red;*/
            display: $flex;
            justify-content: $between;
            align-items: $textCenter    ;
            
        }

        .footer-bottom-wrapper {
            @include flexeven();
            align-items: $textCenter;
            background-color: $colordkgray;
            height: 60px;
        }

        .footer-bottom-icons {
            @include flexCenter();
            width: 200px;
            color: $colorWhite;
            /*border: 1px solid red;*/
        }

        .power-container {
            font-size: 11px;
            color: $colorWhite;
            font-weight: $font-weight;
        }

    }



    